body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(225, 222, 199);
}

header {
    background-color: rgb(225, 222, 199);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgba(36, 22, 186, 0.996);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 300px;
    overflow: hidden;
    background-color: #E9E9E9;
}

.banner img {
    margin: 0px 0px 0px 0px;
    width: 100%;
    
}

.newSchedules {
    background-color: rgb(225, 222, 199);
    padding: 30px 40px;
    color: white;
    justify-content: center;
    display: none;
}

.newSchedules:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
}

#newQuantity {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 10px;
    font-size: 16px;
}

#newPrice {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 5%;
    padding: 10px;
    font-size: 16px;
}


.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.schedules {
    margin: 0;
    padding: 0;
    display: none;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;
}
#id_cell{
    display: none;
}

table{
    background-color: white;
    width: 50%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 80%;
}

tr:hover {
    background: rgb(200, 199, 199);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 80px;
    position: absolute;
}
.schedule_container{
    display: flex;
    background: linear-gradient(#ebf4f5,#b5c6e0);
    padding: 1rem;
    justify-content: flex-end;
    margin-left: 10%;
    margin-top: auto;
}

.schedule_duration{
    display: flex;
    background: linear-gradient(#ebf4f5,#b5c6e0);
    flex-direction: column;
    margin-right: 20px;
    margin-top: 75px;
}

.days_container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.corner{
    width: 50px;
    height: 70px;
    margin:2px;
}

.day{
    width: 100px;
    height: 70px;
    border: 1px solid #103783;
    background: #103783;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2px;
    padding: 20px;
    border-radius: 10px;
}

.part_day{
    display: flex;
    flex-direction: column;
}

.time {
    pointer-events: none;
    color: rgb(4, 4, 4);
    text-align: center;
    display: flex;
    margin: 2px;
    flex-direction: column;
    vertical-align: center;
    line-height: 70px;
    border-radius: 10px;

}

.task {
    background-color: white;
    height: 70px;
    width: 100px;
    margin: 2px;
    cursor: pointer;
    user-select: none; 
    position: relative;
}


#scheduling[class="task"]{
    background-color: rgb(47, 176, 53);
    height: 70px;
    width: 100px;
    margin: 2px;
    cursor: pointer;
    
}

#unavailable[class="task"]{
    background-color: rgb(238, 11, 4);
    height: 70px;
    width: 100px;
    margin: 2px;
    cursor:default;
}

.confirmSchedule{
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 10%;
    margin-top: 120px;
    float: right;
    padding: 10px;
    background-color: #b5c6e0;
    visibility: visible;
}



.formField{
    margin: 5px;
    border-radius: 10px;
    width: 80%;
    height: 40px;
}

#addBtn[class="formField"] {
    border-radius: 10px;
    width: 30%;
    height: 40px;
    padding: 9px 10px;
    background-color: #103783;
    color: white;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 20%;
}

.doctorContainer{
    margin-left: 5%;
    border-radius: 10px;
    width: 80%;
    height: 100%;
    justify-content: center;
}

.wrapper{
    padding:40px;
    font-size: 18px;
    width: fit-content;
}

.formScroll{
    border-radius: 10px;
    padding: 15px;
}

.delete-btn{
    padding: 10px;
    width: 10px;
    height: 10px;
    background-color: #f44336;
    align-self: flex-start;
    position: absolute;
    top: 0;
    right: 0;

}