.schedule_container{
  display: flex;
  background: linear-gradient(#4E0090,#7F27C9);
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 40%;
  margin-right: -18px;
}

.part_day{
  display: flex;
  flex-direction: column;
}

.task {
  background-color: whitesmoke ;
  height: 70px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
  user-select: none; 
  position: relative;
  border-color: #DDDDDD;
  border-radius: 10px;
  border-width: 4px;
}
.task:hover{
  background-color: #a6f38f ;
  border-width: 10px;

}

.time {
  pointer-events: none;
  color: rgb(4, 4, 4);
  text-align: center;
  display: flex;
  margin: 2px;
  flex-direction: column;
  vertical-align: center;
  line-height: 70px;
  border-radius: 10px;
}

.day{
  width: 100px;
  height: 70px;
  border: 1px solid  #3F51B5;
  background: #5565BC;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  line-height: 70px;
  margin-bottom: 5%;
}

#unavailable[class="task"]{
  background-color: #FF9800;
  cursor:default;
}

#scheduling[class="task"]{
  background-color: #6af340;
  cursor: pointer;
  
}

.delete-btn{
  padding: 4px;
  height: 100%;
  background-color: #bfbcbc;
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
}

.delete-btn:hover{
  padding: 8px;
  animation: expand 0.3s ease;
  display: flex;
}

@keyframes expand{
  from {
    padding: 4px;
  }
  to{
    padding: 8px;
  }
}
.info-btn{
  padding: 8px;
  height: 20%;
  background-color: #50b8de;
  align-self: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  cursor: pointer;
}
.info-btn:hover{
  padding: 8px;
  animation: expand-info 0.3s ease-in-out;
  display: flex;
}

@keyframes expand-info{
  from {
    padding: 8px;
  }
  to{
    padding: 12px;
  }
}

.info-overlay{
  background-color: whitesmoke;
  width: 200px;
  margin: auto;
  text-align: start;
  padding: 4px;
}


.info-data{
  background-color: whitesmoke;
  font-size: 12px;
}
