.doctorContainer{
  background: linear-gradient(#4E0090,#7F27C9);
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  border-radius: 30px;
  color: whitesmoke;
  margin-bottom: auto;
  height: 100%;
  justify-content: center;
}

.wrapper{
  padding: 30px;
  font-size: 18px;
  width: fit-content;
}

.formScroll{
  border-radius: 10px;
  padding: 15px;
  width: 250px;
}
