.confirmSchedule{
  width: 100%;
  height: fit-content;
  margin-right: 0;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: auto;
  float: right;
  padding: 10px;
  background:linear-gradient(#007BFF,#00BCD4);
  visibility: visible;
  border-radius: 30px;
}

.formField{
  margin: 5px;
  border-radius: 10px;
  width: 80%;
  height: 40px;
}

#addBtn[class="formField"] {
  border-radius: 10px;
  width: 30%;
  height: 40px;
  padding: 9px 10px;
  background-color:  #3F51B5;
  color: white;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 20%;
}